<h1>Обществен интериор</h1>

<h2>Информация за контакт</h2>
<p>
От: <strong>{{ name }}</strong><br>
Телефон: <strong>{{ phone }}</strong><br>
Email: <strong>{{ from }}</strong><br>
Дата: <strong>{{moment date "DD.MM.YYYY"}}</strong><br>
Код запитване: <strong>{{ rid }}</strong>
</p>

<h2>Информация за обекта</h2>
<p>
Предназначение: <strong>{{ purpose }}</strong><br>
Друго предназначение: <strong>{{ purpose-other }}</strong><br>
Квадратура: <strong>{{ area }}m2</strong><br>
Град: <strong>{{ city }}</strong>
</p>

<h2>Особенности на архитектурата на обекта</h2>
<ul>
    {{#architecture}}{{#if .}}<li>{{.}}</li>{{/if}}{{/architecture}}
</ul>

<h2>Текущо състояние на обекта</h2>
<ul>
    {{#condition}}{{#if .}}<li>{{.}}</li>{{/if}}{{/condition}}
    {{#keep}}{{#if .}}<li>{{.}}</li>{{/if}}{{/keep}}
</ul>

<h2>Актуални снимки и скици на обекта</h2>
{{#if files.length}}
<ol>
    {{#files}}
    <li>
        <a href="{{.}}">{{#last (split . "/")}}{{.}}{{/last}}</a>
    </li>
    {{/files}}
</ol>
{{/if}}

<h2>Визия, която ще се търси</h2>
<ul>
    {{#style}}{{#if .}}<li>{{.}}</li>{{/if}}{{/style}}
</ul>

<h2>Промени по инсталциите и разпределения</h2>
<ul>
    {{#layout}}{{#if .}}<li>{{.}}</li>{{/if}}{{/layout}}
</ul>

<h2>Ремонт и довършителни работи</h2>
<ul>
    {{#construction}}{{#if .}}<li>{{.}}</li>{{/if}}{{/construction}}
</ul>

<h2>Мебели и обзавеждане</h2>
<ul>
    {{#furniture}}{{#if .}}<li>{{.}}</li>{{/if}}{{/furniture}}
</ul>

<h2>Допълнителни изисквания, коментари или въпроси</h2>
<p>{{ comments }}</p>
<hr>
<h1>Анализ на поведението</h1>
<p>
Посещения: <strong>{{ visits }}</strong><br>
Страници: <strong>{{ pages }}</strong>
</p>
<h2>Разгледани страници</h2>
<p>{{ history }}</p>
<h2>Геолокация</h2>
<p>
Държава: <strong>{{ ipcountry }}</strong><br>
Град: <strong>{{ ipcity }}</strong><br>
</p>