<h1>Кандидатсване за работа</h1>
<h2>Позиция</h2>
<p>
Позиция: <strong>{{ position }}</strong><br>
Вид заетост: <strong>{{ job }}</strong><br>
Месторабота:  <strong>{{ office }}</strong>
</p>
<h2>Информация за контакт</h2>
<p>
От: <strong>{{ name }}</strong><br>
Телефон: <strong>{{ phone }}</strong><br>
Email: <strong>{{ from }}</strong><br>
Сайт: <strong>{{ web }}</strong><br>
Дата: <strong>{{moment date "DD.MM.YYYY"}}</strong>
</p>

<h2>Автобиография и портфолио</h2>
{{#if files.length}}
<ol>
    {{#files}}
    <li>
        <a href="{{.}}">{{#last (split . "/")}}{{.}}{{/last}}</a>
    </li>
    {{/files}}
</ol>
{{/if}}

<h2>Образование и допълнителна квалификация</h2>
<p>
Средно образование: <strong>{{ school }}</strong><br>
Висше образование: <strong>{{ university }}</strong><br>
<strong>{{ student }}</strong><br>
Допълнителна квалификация: <strong>{{ qualification }}</strong></p>
<h2>Опит на подобна позиция</h2>
<ul>
    {{#experience}}<li>{{.}}<br>{{/experience}}
</li>
</ul>